[submodule "NoteView"]
	path = NoteView
	url = git@github.com:alist/NoteView.git
[submodule "MGBox2"]
	path = MGBox2
	url = git@github.com:alist/MGBox2.git
[submodule "MagicalRecord"]
	path = MagicalRecord
	url = git@github.com:alist/MagicalRecord.git
[submodule "nimbus"]
	path = nimbus
	url = git@github.com:alist/nimbus.git
[submodule "RestKit"]
	path = RestKit
	url = git@github.com:ExoMachina/RestKit.git
	branch = master
[submodule "FormatterKit"]
	path = FormatterKit
	url = git@github.com:alist/FormatterKit.git
